@font-face{
    font-family: ny-font;
    src:url('https://typeface.nyt.com/fonts/nyt-cheltenham-700-normal.woff')
}

*{  
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-size: 1rem;
}


.universe-container {
    
    display: grid;
    grid-template-columns: repeat(4, 150px);
    justify-content: center; 
    width: 600px;
    margin: auto;
    margin-top: 60px;
    height: 600px;
}
.universe-container {
    background-image: url("../images/inflation-720.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 2 / -2;
}

.universe-container .universe-child {
    margin-top: 130px;
    padding: 2px;
}

.universe-child p{
    font-family: arial,helvetica,sans-serif;
    font-size: 10px;
    font-weight: 100;
    line-height: 11px;
    line-height:inherit;
    text-align: center
}

.nav-item{
    display: inline-block;
}

.nav-button{
    padding: 11px 12px 8px;
    border-radius: 3px;
    background-color: #6288a5;
    color: #fff;
    font-family: ny-font;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 0.05em;
    line-height: 11px;
}

.ny-logo{
    width: 50%;
    vertical-align: middle;
    text-align: center;
}

.main-header{
    width: 100%;
    padding:8px 16px;
    font-family: ny-font;
    border-bottom: 1px solid #e2e2e2;
}

.main-menu{
    width: 3%;
}

.nav-search{
    width: 3%
}

.navbar{
    display: inline-block;
}

.navbar-options{
    list-style: none;
    display: inline;
}

.navbar-item{
    display: inline;  
}
